{% extends "auth/settings_base.html" %}
{% block middle_form %}
    <div class="panel panel-default">
        <div class="panel-heading font-bold">Change Password</div>
        <div class="panel-body">
            <form role="form" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ render_field(form.current_password,placeholder="Current Password", class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.new_password,placeholder="New Password", class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.confirm_new_password,placeholder="Confirm New Password", class="form-control") }}
                </div>
                {{ render_field(form.submit, class="btn btn-sm btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}